@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
html {
    scroll-behavior: smooth;
}


header {
    height: 100vh;
    background-image: url('theatrebg.jpg');
    background-position: center;
    background-size: cover;
}
nav {
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    gap: 5px;
}
.logo img {
    width: 80px;
}
.text-logo p {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
header li {
    list-style-type: none;
}
header a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    transition: all 500ms;
}
header a:hover {
    color: color-mix(in srgb, white, black 20%);
}



.search-login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.search-login i {
    color: white;
    transition: all 500ms;
}
.search-login input {
    padding: 8px;
    border: 1px solid white;
    outline: none;
    border-radius: 10px;
    background: none;
    color: white;
}
.search-login input::placeholder {
    color: white;
}
.search-login button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding: 8px;
    border-radius: 10px;
    background: none;
    color: white;
    border: 1px solid white;
    transition: all 500ms;
}
.search-login button:hover, .search-login button:hover i {
    border-color: color-mix(in srgb, white, black 20%);
    color: color-mix(in srgb, white, black 20%);
}


.toggle-btn {
    color: white;
    display: none;
}
.dropdown-menu {
    width: 100%;
    display: none;
    padding: 10px 20px;
    backdrop-filter: blur(3px);
    position: absolute;
    overflow: hidden;
    transition: all 300ms;
    height: 0;
    opacity: 0;
}
.dropdown-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.open {
    height: 200px;
    opacity: 1;
}





.dashboard .text {
    text-align: center;
    color: white;
    margin-top: 10%;
}
.dashboard p:nth-child(1) {
    font-size: 3rem;
    font-weight: bold;
}
.dashboard p:nth-child(2) {
    font-size: 1.2rem;
}



.container {
    background-color: #f38375;
}
main {
    position: relative;
}
main .list {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 10px;
    backdrop-filter: blur(20px);
    border-bottom: 1px solid black;
}
main .list li {
    list-style-type: none;
}
main .list a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 500ms;
}
main .list a:hover {
    color: color-mix(in srgb, white, black 20%);
}




section {
    padding: 40px;
}


main .events {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
main .events .card:nth-child(1) {
    background-color: #cdb4db;
}
main .events .card:nth-child(2) {
    background-color: #ffc8dd;
}
main .events .card:nth-child(3) {
    background-color: #ffafcc;
}
main .events .card:nth-child(4) {
    background-color: #bde0fe;
}
main .events .card:nth-child(5) {
    background-color: #a2d2ff;
}
section .card {
    width: 250px;
    height: 450px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
}
section .card img {
    width: 100%;
    height: 340px;
    object-fit: cover;
}



section .event-info {
    padding: 0px 10px;
}
section .event-info p {
    font-size: 0.9rem;
    font-weight: bold;
    padding-bottom: 5px;
}
section .event-info a {
    text-decoration: none;
    color: #212529;
    background-color: transparent;
    border: 1px solid #212529;
    border-radius: 5px;
    padding: 3px 5px;
    transition: all 500ms;
}
section .event-info a:hover {
    border-color: color-mix(in srgb, #343a40, transparent 80%);
}


.backtotop {
    display: flex;
    justify-content: center;
    align-items: center;
}
.backtotop a {
    color: black;
    font-size: 2rem;
    border-radius: 50%;
    padding: 0 13px;
    background-color: color-mix(in srgb, white, black 20%);
    backdrop-filter: blur(20px);
}




footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 40px;
    margin-top: 10px;
    background-color: #ef6351;
}
footer li {
    list-style-type: none;
}
footer i {
    color: white;
}



@media (max-width: 992px) {
    .links {
        display: none;
    }
    .toggle-btn, .dropdown-menu {
        display: block;
    }
    .dashboard .text {
        margin-top: 25%;
    }
}